	body{margin:0;
	     padding: 0;}
	  .backg{width: 1290px;
	         height: auto;
             margin:0 auto;
	         padding: 0; }
	.backg>div{width: 1290px;
		       background-size: 100% 100%;
		    	margin: 0;
			   padding: 0;}
	.a{background-image: url(image/image16.jpg);
	   height:50px;  
	   line-height: 50px;}
	.a_img_1{float: left;
		     margin:5px 20px;
		     width:40px;
		     height:40px;}
	.a_h1{float: left;
		 margin:0px;
		 padding: 0px;}
	.a_table{float: right;
	         margin: 0 10px;
	     	 height:50px;}
	.a_table_tr>td>a{margin: 0 5px;
		             padding: 5px 10px;
				     text-decoration:none;
					 color:#668390;}
	.a_table_tr>td>a:hover{border-bottom: 4px solid red;
		 				   color:red;}
	.b{position: relative;
	    background-image: url(image/image4.jpg);
	   height: 690px;}
	.b_text{position: absolute;
		  top: 200px;
		  left: 100px;
		  margin: 0px;
	      color: #fff;
	      font: 50px "微软雅黑";
	      line-height:100px;}
	.b_text>p{margin: 0px;}
	.b_text_2p{line-height: 20px;
	          height: 60px;}	
	.b_text_2p>span{font-size: 20px;}
	.b_button{position: absolute;
			  top: 430px;
		 	  left: 100px;
		      margin: 0;
			  padding: 10px 30px;
              width: 200px;	
		      text-align: center;
			  background-color: #FF3838;}
	.b_button>a{margin: 0;
		        font-size: 25px;
	    		text-decoration: none;
	            color: #fff;}
	.c{background-color: #fff;
	   height: 250px;}
	.c_img{margin-left: 6px;
	       padding: 0;}
	.c_img>img{margin:50px 138px}
	.c_text{margin: 0;
	   		padding: 0;
			text-align: center;}
	.c_text>p{float: left;
		      margin: 0px;
			  padding: 0px;
			  width: 321px;
		      font:bold 15px "微软雅黑";
			  color: #605E5E;
			  }
	.c_text_1,.c_text_2,.c_text_3{
		 	border-right: 2px solid #605E5E;}
	.d{background-image: url(image/image12.jpg);
	   height: 360px;
	   text-align: center;}
	.d_img>img{width: 90px;
			   height: 90px;
	           margin: 90px 600px 40px;
				}
	.d_text{margin: 0px;
			font: 60px "微软雅黑";
			color:#222222;
	}
	.e{background-image: url(image/image13.jpg);
	   height: 340px;
	}
	.e_text{margin: 0;
	 		padding:40px;
			text-align: center;}
	.e_text>p{color:#232323;}
	.e_text_2{margin:0 583px;
			  width: 40px;
			  border:1px solid #232323;}
	.e_form{position: relative;
			float: left;
			margin-left:172px;
			width: 1000px;}
	.e_form>img{position: absolute;
				top:2px;
				width:28px;}
	.e_img_1{left:175px;}
	.e_img_2{left:415px;}
	.e_img_3{left:655px;}
	.e_form_style{width: 205px;
				  height: 30px;
				  margin:0 30px 0 0; 
				  padding: 3px;
				  background: #fff;
			      font-size:16px;
				  border:none;
				}
	.e_form_style>option{height: 30px;
						 background:#8A3E3E;
						 }
	.e_button{width: 205px;
				  height: 30px;
				  margin:0 30px 0 0; 
				 background-color:#8A3E3E;
				  border:none;}
	.f{ position: relative;
		background-image: url(image/image11.jpg);
	   height: 600px;
	  }
	.f>div{padding-top: 15px;
		   width: 250px;
		   height: 420px;
		   background-color: #fff;
		 text-align: center;
	     line-height: 35px;
	}
	.f_01{position: absolute;
		 
		  top: 80px;
		  left: 115px;}
	.f_02{position: absolute;
		  top: 80px;
		  left: 385px;}
	.f_03{position: absolute;
		  top: 80px;
		  right: 115px;}
	.f_04{position: absolute;
		  top: 80px;
		 right:385px;}
	.f_img{ 
		width:220px;
		   height: 320px;}
	.f_img_1{font: bold 25px "黑体";
			 color:#2D2D2D;}
	.f_img_2{font: 15px "黑体";
			color:#2D2D2D;}
	.g{height: 600px;}
	.g_left{float: left;
			position: relative;
		    background-image: url(image/image14.jpg);
		    width: 860px;
			height: 600px;
			margin: 0;
			padding: 0;
			text-align: center;}
	.g_left_text{margin: 140px;}
	.g_left_text>span{color: #FFFFFF;}
	.g_left_Triangle{position: absolute;
					top:300px;
					right :0px;
    				width: 0;
    				height: 0;
    				border-top: 20px solid transparent;
    				border-right: 40px solid #fff;
    				border-bottom: 20px solid transparent;
}
	.g_left_text1{font: 40px "黑体";}
	.g_left_text2{font: 100px "黑体";}
	.g_left_text3{font: 20px "黑体";}
	.g_left_text4{font: 20px "黑体";}
	.g_right{float:left;
		    backgund-image: url(image/image17.jpg);
		    width:300px;
		    height:300px;
	  		margin: 0;
			padding: 150px 65px;}
	.g_right_hx{font: 20px "微软雅黑";
				text-align: center;
				line-height: 80px;}
	.g_right_hx>span{color: red;}
	.g_right_p{font:15px "微软雅黑";
			   color: #868686;
	   		   line-height: 30px;}
	.g_right_button{margin: 40px 50px;
					padding: 5px 15px;
					border: 1px solid red;
					color:red;	
					text-align: center;}
	
	.h{height: 600px;}
	.h_left{float: left;
		background-image: url(image/image5.jpg);
	    width: 430px;
	    height: 600px;
		margin: 0;
	    padding: 0;
	}
	.h_left_text{margin: 200px 100px;}
	.h_left_txt{font: 20px "微软雅黑";
				color: #fff;
				text-align: center;
				line-height:40px;}
	.h_left_xian{border: 1px solid #fff;
				 margin: 30px auto;
				 width: 30px; }
	.h_left_button{margin: 0 auto;
		           padding: 3px;
				   width: 150px;
				   border:1px solid #fff;
				   font: 20px "微软雅黑";
				   text-align: center;
				   }
	.h_left_button>a{
					 text-decoration: none;
					 color: #fff;}
	.h_mid{float: left;
		background-image: url(image/image17.jpg);
	   width: 430px;
	   height: 600px;
	   margin: 0;
	   padding: 0;
	}
	
 	.h_mid_text{margin: 200px 100px;}
	.h_mid_txt{font: 20px "微软雅黑";
				color: #000;
				text-align: center;
				line-height:40px;}
	.h_mid_xian{border: 1px solid #000;
				 margin: 30px auto;
				 width: 30px; }
	.h_mid_button{margin: 0 auto;
		           padding: 3px;
				   width: 150px;
				   border:1px solid #B55153;
				   font: 20px "微软雅黑";
				   text-align: center;
				   }
	.h_mid_button>a{
					 text-decoration: none;
					 color: #B55153;}
	.h_right{float: left;
		position: relative;
	   background-image: url(image/image7.jpg);
	   width: 430px;
	   height: 600px;	
	   margin: 0;
	   padding: 0;}
	.h_right_Triangle{position: absolute;
					top:300px;
					left :0px;
    				width: 0;
    				height: 0;
    				border-top: 20px solid transparent;
    				border-left: 40px solid #fff;
    				border-bottom: 20px solid transparent;}
	.i{background-image: url(image/image17.jpg);
	   height: 700px;}
	.i_hx{margin: 100px auto ;
		  font: 15px "微软雅黑";
		  color:#7E7E7E;
		  text-align: center;}
	.i_hx>span{font:30px "微软雅黑";
			   color:#000;}
	.i_hx_xian{margin:10px auto;
				border: 1px solid red;
				width: 30px;
					}
	.i_txt{float: left;
		   margin:0 100px;
		   width:300px;
		   height:400px;
		   font: 15px "微软雅黑";
		   color:#747474;}
	.i_txt>span{font: 20px "微软雅黑";
				color: #2D2D2D;}
	.i_txt>input{border: none;
				 background-color: #E0E0E0;}
	.i_form{float: left;
			width: 690px;
		    height: 400px;
			line-height: 50px;
		
			}
	.i_form_1{float: left;
			  margin :0 10px 10px 0;
			  width: 335px;
			  height: 50px;
	 		  background-color: #E0E0E0;
				}
	.i_form_1>input{width: 285px;
					height: 32px;
					background: none;
					border: none;
					outline:none;}
	.i_form_2{float: left;
			  margin :0 10px 15px 0;
			  width: 335px;
			  height: 50px;
	 		  background-color: #E0E0E0;}
	
	.i_form_1>label,.i_form_2>label{
	 margin-left: 20px;
	 font-size: 15px;
	}
	.i_form_2>input{width: 245px;
					height: 32px;
					background: none;
					border: none;
	                outline: none;}
	.i_form_3,.i_form_4{float: left;
						margin-bottom: 15px;
						background-color: #E0E0E0;}
	.i_form_3>textarea{margin: 010px;
						width: 660px;
					   height: 170px;
					   font: 15px "微软雅黑";
					   border: none;
					   background: none;
					   outline:none;}
	.i_form_4>input{border: none;
					background: none;
					width: 690px;
					font: bold 15px "微软雅黑";}
	.j{background-image: url(image/image14.jpg);
	   height:300px;
	   text-align: center;}
	.j_div{padding: 70px;
		   font:10px "微软雅黑"; 
		   color: #fff;}
	.j_div>span{font-size: 20px;}
	.j_email{width: 300px;	
			 height: 30px;	
	     	 border: none;
			 color: #323131;}
	.j_submit{
			  width: 50px;
			  height: 32px;
			 border: none;
			 background-color: #323131;
			color: #fff;
			text-align: center;
			}	
	.j_img{margin: 30px 15px;
		  
		   width: 30px;		
		   height: 30px;}
